* {
    padding: 0;
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
}

.grid div {
    background-color: skyblue;
}

.grid div:nth-child(2n) {
    opacity: .7;
}