/* html {
    height: 100%;
} */

*{
    margin: 0;
    padding: 0;
}

/* 스크롤 생성 방지 위함 */

body {
    /* width: 100vw; */
    /* co */
    background: url(../day4/2-5.jpg) no-repeat center center/cover;
    line-height: 100vh;
    font-size: .8em;
    text-align: center;
}

body span {
    width: 100px;
    height: 100px;
    color: blueviolet;
    font-size: 1.5em;
    font-weight: bold;
}

p {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: url(../day4/2-4.jpg) no-repeat center center/cover;
    overflow: auto;
    color: green;
    white-space: pre-line;
    opacity: 0.8;
    vertical-align: middle;
    /* text-align: center; 
    pre-line으로 잡아줌*/
    line-height: normal;
    /* line-height는 상속되므로 바디의 높이에 상속받지 않게 다시 초기화 */
}