.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
}

.item3 {
    background-color: green;
}

.flex div {
    color: white;
}

.flex {
    width: 500px;
    height: 200px;
    border: 1px solid;

    display: flex;
    flex-wrap: wrap;
}

/* ======================================================================== */
/* 1. flex-wrap 에 대한 flex 적용*/

/* 
    wrap 설정으로 인한 다중 주축이 생성될 때 개별 주축을 하나의 플렉스
    컨테이너로 인식함으로써, 플렉스에 적용 가능한 모든 속성들은 하나의
    주축에서만 그 속성의 특성이 적욤됨에 주의.
    따라서 아래와 같이 다중 주축에 대한 flex 비율은 적용되지 않으며 하나의
    주축에 대한 비율만 적용됨을 확인 가능.
*/
.container1 div {
    flex-basis: 100%;
}

.container1 .item1 {
    flex: 2;
}

.container1 .item2,
.container1 .item3 {
    flex: 1;
}
/* wrap을 하든 안하든 차이가 없음!! */

/* ======================================================================== */
/* 2. flex-wrap 에 대한 퍼센티지 적용 */

/* 
    wrap 설정으로 인한 다중 주축에 대한 비율은 아래와 같이 개별 주축에 대한
    컨텐트의 크기를 직접 퍼센티지로 설정함으로써 적용 가능.
*/
.container2 .item1 {
    flex-basis: 100%;
}

.container2 .item2,
.container2 .item3 {
    flex-basis: 50%;
}
