* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner {
    width: 700px;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid;
    text-transform: uppercase;
    letter-spacing: 40px;
    color: darkslategray;
    font: bold 4em sans-serif;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../day4/2-5.jpg) 0/cover;

    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.banner::after {
    content: 'flexbox';
    position: absolute;
    opacity: 0.3;
    margin-left: -10px;
    margin-top: -10px;
    text-indent: -40px;
}

.banner::after,
.banner {
    padding-left: 40px;
}